@media screen {
  body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  img {
    display: block;
  }

  .section {
    padding: 96px 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-container {
    display: flex;
  }

  .logo-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }

  .header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .logo-title-logo {
    color: #2e2f42;
  }
  .page-nav {
    display: none;
  }

  .link-title-tel-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .link-title-tel-menu.active {
    color: #4d5ae5;
  }

  .addreess-title {
    display: none;
  }
  .section-title {
    display: block;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

    max-width: 320px;
    min-height: 432px;
    margin: 0 auto;
  }

  .heading-title {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  .button-title {
    display: block;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
  }

  .button-title:hover {
    background-color: #404bbf;
  }

  .button-title:focus {
    background-color: #404bbf;
  }

  .svg-conteiner {
    display: none;
  }

  .container-our {
    background-color: #e7e9fc;
    color: #ffffff;
    display: block;
    padding: 96px 0;
  }

  .spdt-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .spdt-title-paga {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 72px;
  }

  .op-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .section-our {
    display: flex;
    background-color: #f4f4fd;
    padding: 72px 0;
    text-align: center;
  }

  .photo-list {
    background-color: #ffffff;
    height: calc((100% - 32px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .spdt-title-our {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .spdt-title-section {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
  }

  .name-photo {
    padding: 32px 0;
  }

  .our-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .model-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .svg-our {
    display: flex;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
  }

  .svg-footer {
    width: 40px;
    height: 40px;
  }

  .svg-team {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .svg-link {
    fill: #f4f4fd;
  }

  .ul-title {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .port-transform .port-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
  }

  .port-list {
    width: 100%;
    max-width: 288px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .port-transform {
    position: relative;
    overflow: hidden;
  }

  .port-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .port-list:hover .port-overlay {
    transform: translateY(0);
  }

  .spdt-title-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .spdt-title-porto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .port-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .footer-title {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .footer-conteiner {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .logo-title-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-title-logo {
    color: #f4f4fd;
  }

  .footer-title-p {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .footer-svg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 72px;
  }

  .svg-icon-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
  }

  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
  }

  .svg-footer {
    width: 40px;
    height: 40px;
  }

  .svg-b {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-h {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-left: 96px;
  }

  .svg-icon-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    margin-left: 40px;
  }

  .form-p {
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 107px 16px 106px;
  }

  .form-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-input {
    font-size: 12px;
    color: #ffffff;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .form-buttom {
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 63px 0 61px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .svg-f {
    margin-left: 16px;
  }
}
.model-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: auto;
}

.model {
  position: absolute;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  width: 288px;
  height: 623px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.model-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-overlay {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  max-height: 584px;
}

.form-conteiner {
  margin-bottom: 8px;
}

.button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-overlay {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-conteiner-icon {
  position: relative;
}

.input-overlay {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-overlay:focus {
  border-color: #4d5ae5;
}

.svg-overlay {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form {
  margin-bottom: 16px;
}

.form-label-overlay {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  margin-bottom: 24px;
}

.label-span {
  display: block;
  align-items: center;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.span-a {
  margin-left: 20px;
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
}

.buttom-overlay {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.checkbox-input:checked + .label-span .form-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-overlay:focus + svg {
  fill: #4d5ae5;
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-input {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .burger-nav {
    background-color: transparent;
    border: none;
  }
  .menu-drive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    z-index: 9999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .menu-drive.is-open {
    transform: translateX(0%);
  }

  .menu-drive-mobile {
    position: relative;
    height: 100%;
    padding: 72px 24px 40px 16px;
  }

  .menu-cont {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .menu-font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .menu-last {
    margin-bottom: 150px;
  }

  .link-title-tel-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .link-title-tel-menu.active {
    color: #4d5ae5;
  }

  .svg-icon-footer-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
  }

  .menu-font.active {
    color: #404bbf;
  }

  .addreess-list-menu {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .svg-m {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adreess-menu {
    margin-bottom: 46px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section-title {
    background-image: url(/images/people-office@2x.jpg);
  }
  .burger-nav {
    display: none;
  }
  .page-nav {
    display: flex;
  }
  .addreess-title {
    display: flex;
  }
  .logo-title {
    margin-right: 120px;
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 40px;
  }

  .page-nav .link-title.active::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -1px;
    height: 4px;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .link-title.active {
    color: #404bbf;
    position: relative;
  }

  .link-title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-title:hover,
  .link-title:focus {
    color: #404bbf;
  }
  .header-title {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .section-title {
    max-width: 768px;
  }
  .link-title {
    font-weight: 500;
    font-size: 16px;
  }
  .heading-title {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 31px;
    max-width: 498px;
  }
  .spdt-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .our-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }
  .spdt-title {
    text-align: start;
  }
  .ul-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }

  .menu-drive {
    display: none;
  }
  .port-list {
    max-width: 350px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
  }
  .logo-title-foot {
    text-align: start;
  }
  .footer-title-p {
    max-width: 264px;
  }
  .footer-svg {
    display: flex;
    justify-content: flex-end;
    flex-direction: end;
  }
  .form-title {
    display: flex;
    flex-direction: row;
  }
  .form-p {
    margin-left: 0;
  }
  .form-buttom {
    margin-left: 24px;
  }
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .item {
    width: calc((100% - 24px) / 2);
  }
  .link-title-tel {
    color: #434455;
  }
  .model {
    width: 408px;
    height: 584px;
  }
  .form-overlay {
    max-width: 408px;
  }
  .span-a {
    margin-left: 0;
  }
  .label-span {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .addreess-list {
    display: flex;
    gap: 40px;
  }
  .section-title {
    max-width: 1440px;
  }
  .svg-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .item {
    width: calc((100% - 72px) / 4);
  }
  .our-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  .photo-list {
    width: calc((100% - 52px) / 4);
  }
  .spdt-title-paga {
    font-weight: 400;
  }
  .spdt-title {
    font-weight: 500;
    font-size: 20px;
  }
  .section {
    padding: 120px 0;
  }
  .ul-title {
    gap: 24px;
  }
  .logo-title {
    margin-right: 76px;
  }
  .port-list {
    width: calc((100% - 28px) / 3);
    max-width: 360px;
    box-shadow: none;
  }
  .port-overlay {
    display: flex;
  }
  .port-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
  }
  .footer-conteiner {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-svg {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .footer-form {
    margin-left: 80px;
  }
  .form-title {
    display: flex;
    flex-direction: row;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-svg {
    margin-bottom: 0;
  }
  .footer-h {
    margin-left: 45px;
  }
  .logo-title-foot {
    margin-right: 150px;
  }
  .port-transform {
    position: relative;
    overflow: hidden;
  }
}
