*,
*::before,
*::after {
  box-sizing: border-box;
}
.header-title {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

.section {
  padding: 120px 0;
}

.container {
  box-sizing: border-box;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}

/* Top line */

.header-container {
  display: flex;
}

.logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.page-nav .link-title.active::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 4px;
  left: 0;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo-title-logo {
  color: #2e2f42;
}

.link-title.active {
  color: #404bbf;
  position: relative;
}

.link-title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-title:hover,
.link-title:focus {
  color: #404bbf;
}

.link-title-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-title-tel:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.link-title-tel:focus {
  color: #404bbf;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.addreess-list {
  display: flex;
  gap: 40px;
}

/* Title and button */

.section-title {
  display: flex;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.heading-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.button-title {
  display: block;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title:hover {
  background-color: #404bbf;
}

.button-title:focus {
  background-color: #404bbf;
}

/* Our Portfolio */

.container-our {
  background-color: #e7e9fc;
  color: #ffffff;
  display: block;
  padding: 120px 0;
}

.op-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-title {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.spdt-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.spdt-title-section {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 8px;
}

.svg-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-spdt {
  padding: 120px 0;
  display: block;
}

.photo-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.spdt-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.name-photo {
  padding: 32px 0;
}
.item {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-our {
  display: flex;
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}

.port-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.port-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.svg-our {
  display: flex;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}

.svg-team {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-team:hover,
.svg-team:focus {
  background-color: #404bbf;
}

.svg-footer {
  width: 40px;
  height: 40px;
}

.svg-link {
  fill: #f4f4fd;
}

.port-transform {
  position: relative;
  overflow: hidden;
}

.port-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list:hover .port-overlay {
  transform: translateY(0);
}

.model-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.model {
  position: absolute;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
}
/* footer */

.footer-title {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-title-p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 298px;
}

.footer-title-logo {
  color: #f4f4fd;
}

.footer-list {
  display: flex;
  gap: 120px;
}

.logo-footer {
  margin-right: 0;
  margin-bottom: 16px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-h {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-svg {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}

.svg-b {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-b:hover,
.svg-b:focus {
  background-color: #31d0aa;
}

.svg-icon-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-input {
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-buttom {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form-overlay {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  max-height: 584px;
}

.form-label-overlay {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.footer-form {
  margin-left: 80px;
}

.footer-from {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-p {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.textarea-overlay {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 138px;
}

.button-overlay {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  gap: 24px;
}

.label-footer {
  gap: 24px;
}

.svg-f {
  margin-left: 16px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-conteiner {
  margin-bottom: 8px;
}

.form-conteiner-icon {
  position: relative;
}

.input-overlay {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-overlay:focus {
  border-color: #4d5ae5;
}

.input-overlay:focus + svg {
  fill: #4d5ae5;
}

.svg-overlay {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.buttom-overlay {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.form-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.label-span {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-a {
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .label-span .form-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
